<div class="container">
  <div class="alert-wrapper" ng-if="homeCtrl.messages.length > 0">
    <div ng-repeat="(key, message) in homeCtrl.messages" uib-alert ng-class="'alert-' + message.type" close="homeCtrl.onMessageAlertClose(key)">
      {{message.message}}
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h2>Aplikacja Worker 1.0</h2>      
    <p style="text-align: justify">Aplikacja została zrealizowana przez studentów studiów zaocznych kierunku Informatyka Stosowana, Uniwersytetu Ekonomicznego w Krakowie w ramach przedmiotu Programowanie Aplikacji Webowych SPA.</p>
    <p style="text-align: justify">Aplikacja gromadzi dane o pracownikach z możliwością przydzielania i monitorowania zadań.</p>
      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPNOyJreMtuUwjMeTXaJcgtqrYtRIuSr9F5Br8vtoxPlWVXRz6" class="img-responsive" style="display:block; margin:auto"/>
      </div>
  </div>  
</div>
  
